<div class="title">
  <h2>our attorneys</h2>
  <div class="symbol">
    <span style="width: 50%">
    </span>
    <span style="border: none">
        <img src="../../../assets/down-arrow.png">
    </span>
    <span style="width: 50%">
    </span>
</div>
</div>
<p>At AG Adams Law, our attorneys’ primary focus is meeting our clients’ goals with the highest level of professionalism and expertise.</p>
<div class="attorneys">
<div class="attorney" *ngFor="let attorney of attorneys; let id = index">
  <img [src]="attorney.image">
  <div class="attorneydetails">
  <h2>{{ attorney.name }}</h2>
  <p [innerHTML]="shorten(attorney.bio, 465)"></p>
  <a [routerLink]="id" class="contactbtn">Read More</a>
  </div>
</div>
<!-- <div class="attorney">
  <img src="../../../assets/AAB-BW.webp">
  <div class="attorneydetails">
    <h2>Ann Adams Bryan
      </h2>
    <p>Ann “Annie” Adams Bryan joined AG Adams Law in 2016. Her practice is concentrated in complex commercial and construction litigation. Ms. Bryan is a graduate of the University of North Carolina at Chapel Hill’s School of Law, where she was honored as a member of the Davis Society and the recipient of the Winston Crisp Student Leadership Award. She spent a summer interning in the United States District Court for the Honorable Marcia Morales Howard, and she completed more than 100 pro bono service hours during her time in law school.</p>
    <a href="#" class="contactbtn">Read More</a>
  </div>
</div> -->
</div>
