.title {
  h2 {
      margin-top: 10px;
      font-family: Cinzel, serif;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071A3F;
  }
  .symbol {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
      padding: 0 5px;
      border-top: 1px solid #d1d1d1;
      margin-top: 0 !important;

  }
  img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border: none !important;
  }
}
p {
line-height: 36px;
margin: 10px 0 10px;
color: #071A3F;
font-family: "Helvetica",Verdana,Arial,sans-serif;
font-size: 16px;
font-weight: 400;
}
.attorneys {
width: 100%;
display: flex;
justify-content: space-between;
.attorney {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    font-family: Alegreya Sans, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #071A3F;
    line-height: 1.4;
    letter-spacing: 0px;
    margin: 10px 0;
  }
  img {
    margin-top: 50px;
    width: 90%;
    height: auto;
  }
  p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
  }
  .attorneydetails {
    margin-bottom: 30px;
    width: 210px;
      .contactbtn {
        background: #2f4775;
        color: #ffffff;
        border: 1px solid #1d2d49;
        border-radius: 4px;
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
        padding: 12px 24px;
        text-decoration: none;
        text-shadow: none;
      }
      .contactbtn:hover {
        color: #fff;
      }
  }
}

}
@media only screen and (max-width: 600px) {
  .attorneys {
    flex-direction: column;
  }
}
