<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
  <app-footer></app-footer>

