
.container {
  width: 58%;
  background-color: #798BAE;
  margin: 30px auto;
  padding-bottom: 60px;

  .header {
    width: 100%;
    height: 142px;
    background-color: #fff;
  }

  .content {
    margin-top: 15px;
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;

    .sidebar {
      flex: 1;
      margin: 20px 0px 20px 20px;
      padding: 30px 30px 30px 10px;
      padding-top: 20px;
      border-right: 1px solid #ccc;
    }
    .main {
      flex: 2;
      padding: 30px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .container {
    .header {
      height: 500px;
    }
    .content {
      flex-direction: column;
      .main {
        padding-top: 0px;
        text-align: center;
      }
      .sidebar {
        padding-bottom: 0px;
      }
    }

  }
}
