.footer {
  border-top: 1px solid #e6e6e6;
  font-size: 12px;
  border-color: #e6e6e6;
  background-color: #fff;
  color: #000;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-align: center;
  padding: 18px;
  a {
    text-decoration: none;
    color: #428bca;
    &:hover {
      text-decoration: underline;
    }
  }
}
