<img [src]="new.photo" *ngIf="new.photo">
<h1>{{ new.title }}</h1>
<p class="ad">By <a href="#">{{ new.author }}</a> | {{ new.date }}</p>
<p *ngIf="new.desc">{{ new.desc }}</p>
<p style="text-align: center">###</p>
<p style="font-size: 14px"><em>AG Adams Law is a boutique firm specializing in Complex Commercial and Construction Litigation. AG Adams Law primarily represents owners and developers, as well as contractors and other parties involved in large, complex commercial construction projects. AG Adams Law provides comprehensive case analysis and litigation service and strategies as well as risk management services including contract review.</em></p>
<h2>Leave a comment</h2>
<form>
  <div class="form-field">
    <label>Comment</label>
    <textarea></textarea>
  </div>
  <div class="form-field">
    <label>Name (required)</label>
    <input type="text">
  </div>
  <div class="form-field">
    <label>Email (will not be published) (required)</label>
    <input type="text">
  </div>
  <div class="form-field">
    <label>Website</label>
    <input type="text">
  </div>
  <input type="submit" class="submitbtn" value="Submit Comment">
</form>
