img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #071a3f;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.ad {
  margin: 15px 0;
  font-size: 16px;
  color: #071a3f;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #798bae;
  &:hover {
    color: #2f4775;
  }
}
p {
  line-height: 36px;
  margin: 10px 0 20px;
  color: #071A3F;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
h2 {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #071a3f;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
form {
  margin: 10px 0;
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
      color: #071A3F;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1.45;
    }
    input[type="text"], textarea {
      background: #FCFCFC;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #071a3f;
      vertical-align: middle;
      background-image: none;
      border: 1px solid #e6e6e6;
      transition: all ease-in-out .15s;
      border-radius: 4px;
      &:focus {
        background-color: #fff;
        border-color: #ccc;
        outline: 0;
      }
    }
    textarea {
      min-height: 130px;
    }
  }
  .submitbtn {
    background: #798bae;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #586c92;
    -moz-box-shadow: none;
    cursor: pointer;
    box-shadow: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    &:hover {
      background-color: #2f4775;
      color: #fff;
      border: 1px solid #1d2d49;
      text-decoration: none;
    }
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    text-align: left;
  }
  h2 {
    font-size: 18px;
  }
  form label {
    text-align: left;
  }
}
