.title {
  h2 {
      margin-top: 10px;
      font-family: Cinzel, serif;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071A3F;
  }
  .symbol {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
      padding: 0 5px;
      border-top: 1px solid #d1d1d1;
      margin-top: 0 !important;

  }
  img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border: none !important;
  }
}
p {
  line-height: 36px;
  margin: 10px 0 20px 10px;
  color: #071A3F;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
h2 {
  margin: 10px;
  text-decoration: none;
  color: #071a3f;
  font-family: Alegreya Sans, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0px;
}
form {
  margin: 10px;
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
      color: #071A3F;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1.45;
    }
    input[type="text"], textarea {
      background: #FCFCFC;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #071a3f;
      vertical-align: middle;
      background-image: none;
      border: 1px solid #e6e6e6;
      transition: all ease-in-out .15s;
      border-radius: 4px;
      &:focus {
        background-color: #fff;
        border-color: #ccc;
        outline: 0;
      }
    }
    textarea {
      min-height: 130px;
    }
  }
  .contactbtn {
    background: #2f4775;
    color: #ffffff;
    border: 1px solid #1d2d49;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
  }
  .contactbtn:hover {
    color: #fff;
  }
}
@media only screen and (max-width: 600px) {
  form label {
    text-align: left;
  }
}

