<div class="title">
    <h2>contact us</h2>
    <div class="symbol">
      <span style="width: 50%">
      </span>
      <span style="border: none">
          <img src="../../../assets/down-arrow.png">
      </span>
      <span style="width: 50%">
      </span>
  </div>
  </div>
  <h2>AG Adams Law  </h2>
      <p>1522 Oak Street<br>
        Jacksonville,FL<br>
         32204904.256.4112</p>
  <h2>Send Us a Message</h2>
  <p>Disclaimer: An email to AG Adams Law does not establish an attorney-client relationship. Please do not email confidential or time sensitive information.</p>

  <form>
    <div class="form-field">
      <label>Name</label>
      <input type="text" placeholder="Your name">
    </div>
    <div class="form-field">
      <label>Email</label>
      <input type="text" placeholder="Your name">
    </div>
    <div class="form-field">
      <label>Your Message</label>
      <textarea placeholder="Your name"></textarea>
    </div>
    <input type="submit" class="contactbtn" value="Send">
  </form>

