.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  .title {
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #071a3f;
    font-family: Cinzel, serif;
    text-align: center;
    a {
      text-decoration: none;
      color: #071a3f;
      &:visited {
        color: #071a3f;
      }
    }
  }
  .info {
      font-size: 12px;
      text-align: right;
      color: #071a3f;
      font-family: "Helvetica",Verdana,Arial,sans-serif;
      font-weight: 400;
    p {
      margin-bottom: 8px;
    }
    a {
      text-decoration: none;
      color: #798bae;
      font-family: "Helvetica",Verdana,Arial,sans-serif;
      font-size: 14px;
      font-style: italic;
      &:hover {
        color: #2f4775;
      }
    }
    #af1 {
      font-style: normal;
      font-size: 12px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    .title {
      font-size: 24px;
    }
    .info {
      margin-top: 20px;
      text-align: center;
    }
  }
}
