<div class="header">
  <div class="title">
      <a routerLink="">AG Adams Law</a>
  </div>
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>
  <div class="info">
    <p>1522 Oak Street</p>
    <p>Jacksonville, FL  32204</p>
    <p>Telephone:  <a href="tel:904.256.4112" id="af1">904.256.4112</a></p>
    <a [routerLink]="['/page/contact']">Contact Us</a>
  </div>
</div>
