.articletitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  span {
    padding: 0 5px;
    width: 25%;
    border-top: 1px solid #d1d1d1;
    margin-top: 0 !important;
  }
  .title {
    font-family: Alegreya Sans SC, sans-serif;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0px;
    border-top: none;
    text-align: center;
  }
}
p {
  line-height: 36px;
  margin: 0 0 10px;
  color: #071a3f;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: #798bae;
    &:hover {
      color: #2f4775;
    }
  }
}
@media only screen and (max-width: 600px) {
  .articletitle {
    flex-direction: column;
    span {
      width: 100%;
    }
  }
}
