
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  margin-bottom: 40px;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ccc;
}
p {
  font-family: Cinzel;
  font-weight: 700;
  color: #fff;
  background-color: #6a7996;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
ul {
  list-style: none;
  padding-left: 0;

  li {
    text-align: center;
    padding: 10px;
    background-color: rgb(131, 151, 190);
    cursor: pointer;
    &:hover {
      background-color:rgb(106, 121, 150);
      .active {
        border: none;
      }
    }
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 18px;
      text-transform: uppercase;
      font-family: Alegreya Sans;
      color: #fff;
      font-weight: 700;
    }

  }
}
  .active {
    background-color: #6a7996;
    border-bottom: 5px solid #798BAE;
    font-style: italic;
    font-size: 20px;
  }
  .contactbtn {
    text-align: right;
    display: block;
    background: rgb(106, 121, 150);
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
