<div class="all">
<div class="container">
<div class="img"></div>
<p>Admin Name</p>
</div>
<div class="menu">
<ul>
  <li>
    <a [routerLink]="['/dashboard/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
  </li>
  <li>
    <a [routerLink]="['/dashboard/admin/news']" routerLinkActive="active">News</a>
  </li>
  <li>
    <a href="#">Cases</a>
  </li>
  <li>
    <a href="#">Attorneys</a>
  </li>
  <li>
    <a href="#">Settings</a>
  </li>
</ul>
<a href="#" class="contactbtn">Logout</a>
</div>
</div>
