  .home-items {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 120px;
  }
h1 {
      font-size: 80px;
      text-align: center;
      font-family: Cinzel, serif;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071a3f;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
      margin: 0;
    }
    hr {
      border-top: 1px solid #cccccc;
      max-width: 80%;
      margin: 0px auto 16px auto;
      height: 0px;
    }


    form {
      margin-top: 50px;
    .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        color: #071A3F;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
        line-height: 1.45;
      }
      input[type="text"], textarea {
        background: #FCFCFC;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #071a3f;
        vertical-align: middle;
        background-image: none;
        border: 1px solid #e6e6e6;
        transition: all ease-in-out .15s;
        border-radius: 4px;
        &:focus {
          background-color: #fff;
          border-color: #ccc;
          outline: 0;
        }
      }
  }
  .contactbtn {
    background: #2f4775;
    color: #ffffff;
    border: 1px solid #1d2d49;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
  }
  .contactbtn:hover {
    color: #fff;
  }
    }
