.container {
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-direction: row;
  background-color: #fff;
}
.side {
  flex: 1;
 background-color: #798BAE;


}
.main {
  flex: 4;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
