h2 {
  margin-top: 10px;
    font-family: Cinzel, serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #071A3F;
    a {
      margin-left: 10px;
      background: #2f4775;
      color: #ffffff;
      border: 1px solid #1d2d49;
      border-radius: 4px;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      padding: 5px 10px;
      text-decoration: none;
    }
}
table {
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 0px 13px 0px rgba(7,26,63,1);
  border: 1px solid #6a7996;
  .head {
    background-color: #6a7996;
    color: #fff;
    td {
      padding: 10px;
    }
  }
  tbody {
    tr {
      background-color: #8397be;
    }
    td {
      padding: 20px 5px;
      border-bottom: 2px solid #6a7996;
      color: #fff;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .action {
        font-style: italic;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
