<h2>News <a [routerLink]="['/dashboard/admin/addnews']">Add new</a></h2>
<table cellspacing="0">
  <tr class="head">
    <td>Title</td>
    <td>Author</td>
    <td>Date</td>
    <td>Actions</td>
  </tr>
  <tbody>
    <tr>
      <td><a href="#">AG Adams Law, P.A. Recognized in US News and ...</a></td>
      <td><a href="#">Ragip Gjinovci</a></td>
      <td>27 December 2018</td>
      <td><a href="#" class="action">Edit</a> · <a href="#" class="action">Delete</a></td>
    </tr>
    <tr>
      <td><a href="#">AG Adams Law, P.A. Recognized in US News and ...</a></td>
      <td><a href="#">Ragip Gjinovci</a></td>
      <td>27 December 2018</td>
      <td><a href="#" class="action">Edit</a> · <a href="#" class="action">Delete</a></td>
    </tr>
  </tbody>
</table>
