<img [src]="image">
<!-- width="290.94" height="174.44" -->
<ul>
  <li>
    <a [routerLink]="['/page/cases']">practice areas</a>
  </li>

  <li>
    <a [routerLink]="['/page/news']">ARTICLES & NEWS</a>
  </li>

  <li>
    <a [routerLink]="['/page/contact']">CONTACT US</a>
  </li>
</ul>
<div class="info">
  <p>1522 Oak Street</p>
  <p>Jacksonville, FL 32204</p>
  <a href="tel:904.256.4112">904.256.4112</a>
  <a [routerLink]="['/page/contact']" class="contactbtn">Contact Us</a>
</div>
