img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0 !important;
  li {
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: #071a3f;
      font-family: Alegreya Sans, sans-serif;
      font-weight: regular;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
  }
}
.info {
  text-align: center;
  color: #071a3f;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  p {
    margin-bottom: 5px;
  }
  a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #798bae;
    &:hover {
      color: #2f4775;
    }
  }
  .contactbtn {
    background: #2f4775;
    color: #ffffff;
    border: 1px solid #1d2d49;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
  }
  .contactbtn:hover {
    color: #fff;
  }
}
