<h2>Add News</h2>
  <form>
    <div class="form-field">
      <label>Title</label>
      <input type="text" placeholder="News title goes in here">
    </div>
    <div class="form-field">
      <label>Content</label>
      <angular-editor name="content" [(ngModel)]="htmlContent" [config]="config"></angular-editor>
    </div>
    <input type="submit" class="contactbtn" value="Add">
  </form>
