h2 {
    margin-top: 10px;
    font-family: Cinzel, serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #071A3F;
}
form {
  margin: 10px;
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
      color: #071A3F;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1.45;
    }
    input[type="text"], .textarea {
      background: #FCFCFC;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #071a3f;
      vertical-align: middle;
      background-image: none;
      border: 1px solid #e6e6e6;
      transition: all ease-in-out .15s;
      border-radius: 4px;
      &:focus {
        background-color: #fff;
        border-color: #ccc;
        outline: 0;
      }
    }
  }
  .contactbtn {
    background: #2f4775;
    color: #ffffff;
    border: 1px solid #1d2d49;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
  }
  .contactbtn:hover {
    color: #fff;
  }

}

