.title {
  h2 {
      margin-top: 10px;
      font-family: Cinzel, serif;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071A3F;
  }
  .symbol {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
      padding: 0 5px;
      border-top: 1px solid #d1d1d1;
      margin-top: 0 !important;

  }
  img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border: none !important;
  }
}
p, li {
  line-height: 36px;
  margin: 10px 0 20px;
  color: #071A3F;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
li {
  margin:0;
}
.panel-expansion {
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 5px;
  outline: none;
}
.panel-title {
  color: #798BAE;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  &:hover {
    color: #2f4775;
  }
}
@media only screen and (max-width: 600px) {
  .panel-title {
    font-size: 15px;
  }
  .panel-expansion {
    text-align: left;
  }
}

