<div class="branch">
  <div class="title">
  <h2>General Statistics</h2>
  <div class="symbol">
    <span style="width: 50%">
    </span>
    <span style="border: none">
        <img src="../../../assets/down-arrow.png">
    </span>
    <span style="width: 50%">
    </span>
  </div>
  </div>
  <div class="info">
      <div class="infoitem">
        <span class="number">
          3
        </span>
        <h2>News</h2>
      </div>
      <div class="infoitem">
        <span class="number">
          1
        </span>
        <h2>Cases</h2>
      </div>
      <div class="infoitem">
        <span class="number">
          2
        </span>
        <h2>Attorneys</h2>
      </div>
    </div>
</div>


<!--  Another branchh  -->


<div class="branch">
  <div class="title">
  <h2>Latest</h2>
  <div class="symbol">
    <span style="width: 50%">
    </span>
    <span style="border: none">
        <img src="../../../assets/down-arrow.png">
    </span>
    <span style="width: 50%">
    </span>
  </div>
  </div>
  <div class="latestitem">
    <h3>News: </h3>
    <p class="itemtitle">AG Adams Law, P.A. Recognized in US News and World Report Best Law Firm Rankings for 2017</p>
    <p class="ad">By <a href="#">Ragip Gjinovci</a> | 17 December 2019</p>
  </div>
  <div class="latestitem">
    <h3>Case: </h3>
    <p class="itemtitle">Ocean Front Condominium in Nassau County, Florida</p>
    <p class="ad">By <a href="#">Ragip Gjinovci</a> | 17 December 2019</p>
  </div>
  <div class="latestitem">
    <h3>Attorney: </h3>
    <p class="itemtitle">Ann Adams Bryan</p>
    <p class="ad">By <a href="#">Ragip Gjinovci</a> | 17 December 2019</p>
  </div>
</div>
