.branch {
  //border: 2px solid #798BAE;
  border-radius: 4px;
  // box-shadow: 0px 3px 3px -1px #798BAE;
  box-shadow: 0 2px 2px rgba(7,26,63, .24), 0 0 2px rgba(7,26,63, .24);
  margin-bottom: 10px;
  padding: 20px;
  .title {
  h2 {
      margin-top: 10px;
      font-family: Cinzel, serif;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071A3F;
  }
  .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
      padding: 0 5px;
      border-top: 1px solid #798BAE;
      margin-top: 0 !important;

  }
  img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border: none !important;
  }
}
}
.info {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
.infoitem {
  // border-radius: 10px;
  // box-shadow: 0px 0px 13px 0px rgba(7,26,63,1);
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(7,26,63, .24), 0 0 8px rgba(7,26,63, .24);

  width: 170px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    font-family: Carrois Gothic SC;
    font-weight: 700;
    font-size: 50px;
    color: #6a799657;
  }
  h2 {
    font-family: Alegreya Sans, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #071A3F;
    line-height: 1.4;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0;
  }
}
}
.latestitem {
    text-decoration: none;
    color: #071a3f;
    font-family: Alegreya Sans, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 10px;
    p {
      display: inline;
    }
    .ad {
      margin-left: 10px;
      font-size: 14px;
      color: #ccc;
      font-family: "Helvetica",Verdana,Arial,sans-serif;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: #798bae;
      &:hover {
        color: #2f4775;
      }
    }
}
@media only screen and (max-width: 600px) {
  .infoitem {
    margin-bottom: 20px;
  }
}
