
<div class="home-container">
    <router-outlet></router-outlet>
  <div class="items-footer">
    <a [routerLink]="['']">
      <div class="tooltip"><
        <span class="tooltiptext">Go To Home</span>
      </div>
    </a>
  </div>
</div>
<app-footer></app-footer>
