.home-container {
  width: 58%;
  margin: 30px auto;
  background-color: #798BAE;




  padding-top: 60px;

  .home-items {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
  .items-footer {
    padding: 5px 20px;
    a {
      text-decoration: none;
      font-size: 40px;
      color: #2f4775;
      &:hover {
        color: #fff;
       }
      .tooltip {
        position: relative;
        display: inline-block;
      }

      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        font-size: 14px;
        background-color: #2f4775;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        margin-left: 10px;

      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
    }

  }

