
ul {
  li {
    display: inline;
    padding: 0 20px;
    border-left: 2px solid #405270;
    &:first-child {
      border-left: 0;
    }
    a {
      text-transform: uppercase;
      color: #798BAE;
      text-decoration: none;
      font-family: "Helvetica",Verdana,Arial,sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.45;
      outline: none;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 600px) {
  ul {
    padding: 0;
    li {
      display: block;
      padding: 20px 0;
      border-left: none;
      border-bottom: 2px solid #405270;
      a {
        font-size: 14px;
      }
    }
  }
}
