
<ul>
  <li>
    <a [routerLink]="['/page/firm']">Firm</a>
  </li>
  <li>
    <a [routerLink]="['/page/attorneys']">Attorneys</a>
  </li>
  <li>
    <a [routerLink]="['/page/services']">Services</a>
  </li>
  <li>
    <a [routerLink]="['/page/cases']">Cases</a>
  </li>
  <li>
    <a [routerLink]="['/page/news']">news</a>
  </li>
</ul>

