.title {
  h2 {
      margin-top: 10px;
      font-family: Cinzel, serif;
      font-weight: normal;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071A3F;
  }
  .symbol {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  span {
      padding: 0 5px;
      border-top: 1px solid #d1d1d1;
      margin-top: 0 !important;

  }
  img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border: none !important;
  }
}
p {
  line-height: 36px;
  margin: 10px 0 20px;
  color: #071A3F;
  font-family: "Helvetica",Verdana,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.news {
  .anew {
    display: flex;
    img {
      margin-right: 20px;
      padding-bottom: 10px;
      width: 100%;
      height: 50%;
    }
    h2 {
      color: #071A3F;
      font-size: 30px;
      line-height: 1.4;
      letter-spacing: 0px;
      font-family: "Helvetica",Verdana,Arial,sans-serif;
      font-weight: 400;
    }

    .ad {
      margin: 0;
      font-size: 12px;
      color: #071a3f;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: #798bae;
      &:hover {
        color: #2f4775;
      }
    }
    .newdetails {
      padding-bottom: 10px;
    }
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}
@media only screen and (max-width: 600px) {
  .news {
    .anew {
      flex-direction: column;
      h2 {
        font-size: 24px;
        text-align: left;
      }
    }
  }
}
