<div class="title">
  <h2>LATEST NEWS</h2>
  <div class="symbol">
    <span style="width: 50%">
    </span>
    <span style="border: none">
        <img src="../../../assets/down-arrow.png">
    </span>
    <span style="width: 50%">
    </span>
</div>
</div>
<div class="news">
  <div class="anew" *ngFor="let new of news; let id = index">
      <img *ngIf="new.photo" [src]="new.photo">
      <div class="newdetails">
        <a [routerLink]="[id]"><h2>{{ new.title }}</h2></a>
        <p class="ad">By <a href="#">{{ new.author }}</a> | {{ new.date }}</p>
        <p *ngIf="new.desc">{{ (new.desc.length > 299) ? new.desc.substring(0,299) + '...' : new.desc}}</p>
      </div>
  </div>
</div>

