<div class="title">
    <h2>REPRESENTATIVE CASES</h2>
    <div class="symbol">
      <span style="width: 50%">
      </span>
      <span style="border: none">
          <img src="../../../assets/down-arrow.png">
      </span>
      <span style="width: 50%">
      </span>
  </div>
  </div>
  <div class="cases">
    <div class="case">
      <h2>Ocean Front Condominium in Nassau County, Florida</h2>
      <img src="../../../assets/Carlton-Dunes.webp">
      <p>Represented Condominium Association of a seven building, 98 – unit ocean front project in construction defect case, requiring renovation and replacement of exterior balconies, windows and doors. The damages included a claim for loss of use of the condominium units as a result of the extensive repairs.</p>
    </div>
  </div>
