<div class="home-container">
  <div class="home-items">
    <div class="title">
      <h1>Ag Adams Law</h1>
      <hr>
      <h3>Complex Commercial and Construction Litigation</h3>
    </div>
    <div class="navigation">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="items-footer">
    <p id="if1">904.256.4112 1522</p>
    <p>Oak Street</p>
    <p>Jacksonville, FL 32204</p>
  </div>
</div>
<app-footer></app-footer>
