
.home-container {
  width: 58%;
  margin: 30px auto;
  background-color: #798BAE;
  padding-top: 60px;

  .home-items {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 120px;

    h1 {
      font-size: 80px;
      text-align: center;
      font-family: Cinzel, serif;
      line-height: 1.4;
      letter-spacing: 0px;
      color: #071a3f;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
      margin: 0;
    }
    hr {
      border-top: 1px solid #cccccc;
      max-width: 80%;
      margin: 0px auto 16px auto;
      height: 0px;
    }
    h3 {
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0px;
      font-family: Carrois Gothic SC, sans-serif;
      font-weight: 400;
      color: #071a3f;
      text-align: center;
    }
    .navigation {
      padding-right: 30px;
    }
  }
  .items-footer {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    padding-bottom: 20px;
    #if1 {
      border-left: none;
    }
    p {
      padding: 0 20px;
      border-left: 2px solid #fff;
      line-height: 1.45;
      font-weight: 400;
    }
  }
}
@media only screen and (max-width: 600px) {
  .home-container {
    .home-items {
      align-items: flex-start;
      padding-bottom: 130px;
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 18px;
      }
      .navigation {
        padding-left: 30px;
      }
    }
    .items-footer {
      flex-direction: column;
      #if1 {
        border-left: none;
      }
      p {
        border-left: none;
        border-bottom: 2px solid #fff;
        padding: 10px 0;
      }
    }
  }
}
